/* Login */

#Login {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ddd;
}

#Login .brand {
  padding-top: 15px;
  position: fixed;
  top: 0;
}

#Login .login {
  height: 492px;
  width: 480px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #36393f;
}

#Login .form {
  width: 85%;
}

#Login .field-wrap:first-child {
  margin-bottom: 20px;
}

#Login .TextFieldGroup {
  background-color: rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.3);
  height: 40px;
  padding: 10px;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  outline: none;
  color: #b9bbbe;
  letter-spacing: 0.5px;
  font-weight: 600;
  line-height: 16px;
}

#Login .TextFieldGroup:focus {
  box-shadow: 0 0 5px #7289da;
  border: 1px solid #7289da;
}

#Login .title {
  font-size: 26px;
  line-height: 32px;
  color: #e9e9ea;
  margin-bottom: 8px;
  font-weight: 300;
  outline: 0;
}

#Login .title-desc {
  color: #72767d;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  margin-bottom: 30px;
}

#Login .label {
  color: #b9bbbe;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  -webkit-box-flex: 1;
  flex: 1;
  margin-bottom: 8px;
  font-weight: bold;
  line-height: 16px;
  font-size: 12px;
}

#Login .error {
  color: #ac4646;
  font-style: italic;
  text-transform: none;
  font-size: 12px;
  font-family: inherit;
  font-weight: 400;
  letter-spacing: 0.5px;
}

#Login .err-color {
  color: #ac4646;
}

#Login .forgot {
  color: #7289da;
  cursor: pointer;
  width: fit-content;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
}

#Login .forgot:hover {
  text-decoration-line: underline;
}

#Login .btn {
  background-color: #7289da;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 15px;
  width: 100%;
  height: 44px;
  outline: 0;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
}

#Login .btn:hover {
  opacity: 0.8;
}

#Login .account {
  color: #72767d;
  font-size: 14px;
  line-height: 16px;
}

#Login .register {
  color: #7289da;
  cursor: pointer;
  width: fit-content;
  font-weight: 400;
  text-decoration: none;
}

#Login .register:hover {
  text-decoration: underline;
}

@media (max-width: 550px) {
  #Login .login {
    height: 100%;
    width: 100%;
    border-radius: 0;
  }
}
