/* Register */

#Register {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ddd;
}

#Register .brand {
  padding-top: 15px;
  position: fixed;
  top: 0;
}

#Register .register {
  height: 492px;
  width: 480px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #36393f;
}

#Register .form {
  width: 85%;
}

#Register .field-wrap {
  margin-bottom: 20px;
}

#Register .TextFieldGroup {
  background-color: rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.3);
  height: 40px;
  padding: 10px;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  outline: none;
  color: #b9bbbe;
  letter-spacing: 0.5px;
  font-weight: 600;
  line-height: 16px;
}

#Register .side-by-side {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

#Register .TextFieldGroup:focus {
  box-shadow: 0 0 5px #7289da;
  border: 1px solid #7289da;
}

#Register .title {
  font-size: 26px;
  line-height: 32px;
  color: #e9e9ea;
  margin-bottom: 8px;
  font-weight: 300;
  outline: 0;
  margin-bottom: 30px;
}

/* #Register .title-desc {
  color: #72767d;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  margin-bottom: 30px;
} */

#Register .label {
  color: #b9bbbe;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  -webkit-box-flex: 1;
  cursor: default;
  flex: 1;
  margin-bottom: 8px;
  font-weight: 600;
  line-height: 16px;
  font-size: 12px;
}

#Register .error {
  color: #ac4646;
  font-style: italic;
  text-transform: none;
  font-size: 12px;
  font-family: inherit;
  font-weight: bold;
  letter-spacing: 0.5px;
}

#Register .err-color {
  color: #ac4646;
}

#Register .forgot {
  color: #7289da;
  cursor: pointer;
  width: fit-content;
  margin-bottom: 20px;
  font-weight: 400;
}

#Register .forgot:hover {
  text-decoration-line: underline;
}

#Register .btn {
  background-color: #7289da;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 15px;
  width: 100%;
  height: 44px;
  outline: 0;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
}

#Register .btn:hover {
  opacity: 0.8;
}

#Register .account {
  color: #7289da;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 20px;
}

#Register .login {
  color: #7289da;
  cursor: pointer;
  width: fit-content;
  font-weight: 400;
  text-decoration: none;
}

#Register .terms {
  color: #72767d;
  font-size: 14px;
  line-height: 16px;
}

#Register .link {
  color: #7289da;
  cursor: pointer;
  width: fit-content;
  font-weight: 400;
}

#Register .login:hover {
  text-decoration: underline;
}

@media (max-width: 550px) {
  #Register .register {
    height: 100%;
    width: 100%;
    border-radius: 0;
  }
}
