@media (min-width: 768px) {
  .page-content {
    padding: 0;
    margin: 0;
  }

  .container-fluid {
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 768px) {
  .page-content {
    padding: 0;
    margin: 0;
  }

  .container-fluid {
    padding: 0;
    margin: 0;
  }
}
