#Chat {
  position: fixed;
  top: 3%;
  right: 20%;
  bottom: 5%;
  width: 56%;
  height: 94%;
  background: #36393f;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  

}

.send {

}