#Landing #isAuthenticated {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: 'LeftPanel MainArea RightPanel';
}

#Landing .LeftPanel {
  grid-area: LeftPanel;
  height: 100vh;
}

#Landing .MainArea {
  grid-area: MainArea;
  height: 100vh;
}

#Landing .RightPanel {
  grid-area: RightPanel;
  height: 100vh;
}
