#AddFriend {
  width: 100%;
  height: 95%;
}

#AddFriend .addfriend {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #2d333b;
}

#AddFriend .TextFieldGroup {
  background-color: rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.3);
  color: #f6f6f7;
  height: 40px;
  padding: 10px;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  outline: none;
}

#AddFriend .TextFieldGroup:focus {
  box-shadow: 0 0 5px #7289da;
  border: 1px solid #7289da;
}

#AddFriend .title {
  font-size: 26px;
  line-height: 32px;
  color: #e9e9ea;
  margin-bottom: 8px;
  font-weight: 300;
  outline: 0;
  margin-bottom: 30px;
}

#AddFriend .label {
  color: #b9bbbe;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  -webkit-box-flex: 1;
  cursor: default;
  flex: 1;
  margin-bottom: 8px;
  font-weight: 600;
  line-height: 16px;
  font-size: 12px;
}

#AddFriend .error {
  color: #f04747;
  font-style: italic;
  text-transform: none;
  font-size: 12px;
  font-family: inherit;
  font-weight: 400;
  letter-spacing: 0.5px;
}

#AddFriend .err-color {
  color: #f04747;
}

#AddFriend .button {
  cursor: pointer;
  outline: 0;
  border: 0;
  background-color: #7289da;
  color: #fff;
  font-size: 16px;
  width: 15%;
  height: 40px;
  border-radius: 3px;
  margin-top: 30px;
  transition: 0.3s all ease;
}

#AddFriend .button:hover {
  opacity: 0.8;
}

#AddFriend .addfriend form {
  display: flex;
  justify-content: center;
}
