#OnlineFriends {
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: column;
}

#OnlineFriends .friend-row {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-areas: 'profile-img info';
  border-bottom: 1px solid#2d333b;
  cursor: pointer;
}

#OnlineFriends .friend-row:hover {
  background: #050609;
}

#OnlineFriends .friend-row .profile-img {
  grid-area: profile-img;
  display: flex;
  justify-content: center;
  align-items: center;
}

#OnlineFriends .friend-row .profile-img img {
  border-radius: 50%;
  width: 48px;
}

#OnlineFriends .friend-row .info {
  grid-area: info;
  display: flex;
  flex-direction: column;
}

#OnlineFriends .friend-row .info .full-name {
  color: #c6c6d4;
  overflow: hidden;
  outline: 0;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400px;
}

#OnlineFriends .friend-row .info .time {
  color: #72767d;
}
